Segmenting and Clustering Neighborhoods in Toronto

We first import all libraries needed to perform the following assignment

In [1]:
import numpy as np 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json 
!conda install -c conda-forge geopy --yes 
import requests
from pandas.io.json import json_normalize 
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
print('Libraries imported.')

Libraries imported.

Next we import the csv reader alongside the pandas library for the purpose of data scraping from the wikipedia page listed in the assignment.

In [5]:
from pandas.io.html import read_html
import csv
import pandas as pd

Importing our data from the URL given we get:

In [6]:
data_table = pd.read_html(r"https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
data = data_table.replace(to_replace = r'\w*assigned\b', value = "", regex=True)

To be able to scrap the data in the needed table we will generate a for loop which we will transform into a DataFrame to be able to wrangle and work with the data within.

In [7]:
place_lst = []
for i in data.values:
    place_lst.append([j for j in i if len(j) > 7])

In [8]:
place_lst[2][1] = 'M3CNorth York(Don Mills South / Flemingdon Park)'
place_lst[1][1] = 'M3BNorth York(Don Mills North)'

In [9]:
place_lst_mdfd = []
for j in place_lst:
    place_lst_mdfd = place_lst_mdfd + [[i[:3]] + i[3:-1].split("(") for i in j]

In [10]:
len(place_lst_mdfd[2])

3

Below we find the first 5 rows of our data frame.

In [14]:
df = pd.DataFrame(place_lst_mdfd, columns=['PostalCode', 'Borough', 'Neighborhood',"None"]).drop(columns = "None")
df["Neighborhood"] = ans_df["Neighborhood"].str.replace(" /", ",")
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

We will again display the dataframe's size using the shape function:

In [16]:
df.shape

(103, 3)